<HTML>
    <head>
      <title>showing all pizzas</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% for piz in piz.all %}
            {% if piz.pizza_size == pizzasize%}
              {% if piz.pizza_size == pizzasize%}
                <div class="container">
                      <h2>Pizza</h2>
                      <div class="card">
                        <p class="card-title">{{ piz.pizza_type}}</p>               
                        <p class="card-text">{{ piz.pizza_size}}</p>      
                        <p class="card-text">{{ piz.pizza_topping}}</p>
                      </div>              
                </div>

              {% endif %} 
            {% endif %} 
        {% endfor %}
    </body>
</HTML>


